.cities{
	display: flex;
	align-items: center;
	justify-content: center;
}
.seattleback{
	background-image: url(../img/Seattle/15.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-position: center;
}
.tampaback{
	background-image: url(../img/Tampa/2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-position: center;
}
.versus{
	position: absolute;
}
.versus img{
	width:125px;
}
.cityname{
	font-size:32px;
	text-align: center;
	background: rgba(34, 139, 34,0.9);
	border:0.5px solid rgba(0,0,0,0.5); 
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	color: white;
	padding:5px;
}
.oglav{
	text-align: center;
	font-size: 32px;
	padding: 15px;
	box-shadow: -2px -1px 2px rgba(0,0,0,0.15), 
    2px -1px 2px rgba(0,0,0,0.15);
    color: rgba(0,0,0,0.8);
}
.greenoglav{
	background: rgba(34, 139, 34,0.9);
	color:white;
}
.data{
	font-size: 24px;
	padding: 30px;
	color:rgba(0,0,0,0.8);
	padding-left: 50px
}
.content{
    padding: 0
}
.left_content{
	webkit-box-shadow: inset -37px 0px 30px -20px rgba(0,0,0,0.15);
    -moz-box-shadow: inset -37px 0px 30px -20px rgba(0,0,0,0.15);
    box-shadow: inset -37px 0px 30px -20px rgba(0,0,0,0.15);
    border-right:1px solid rgba(0,0,0,0.2);
}
.right_content{
	webkit-box-shadow: inset 37px 0px 30px -20px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 37px 0px 30px -20px rgba(0,0,0,0.15);
    box-shadow: inset 37px 0px 30px -20px rgba(0,0,0,0.15);
}
.contentgreen{
	background: rgba(34, 139, 34,0.9); 
}
.population{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.circlepopulation{
	border:0.5px solid white; 
	border-radius: 50%;
	text-align: center;
	font-size: 24px;
	color:white;
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.population_density{
	width: 100%;
	color: white;
	padding: 30px;
	padding-left: 50px;
	font-size: 24px;
}
.place{
	text-align: center;
	padding-bottom: 30px;
}
.place img{
	width:125px;
}
.bottomblock_green{
	padding-top:39px;
	padding-bottom:39px;
	padding-left:15px;
	padding-right:15px;
	background: rgba(34, 139, 34,0.9);
}
.temp{
	font-size: 1.3vmax;
}
@media (max-width:991.98px){
	.seattleback,.tampaback{
		height:300px;
	}
	.versus img{
		width:75px;
	}
	.cityname,.oglav{
		font-size:26px;
	}
	.data{
		font-size:18px;
	}
}
@media (max-width:575.98px){
	.seattleback,.tampaback{
		height:250px;
	}
	.versus img{
		width:60px;
	}
	.cityname,.oglav{
		font-size:22px;
	}
	.data{
		font-size:14px;
	}
}
@media (max-width: 420px){
}
