.seattleback{
	background-image: url(../img/Seattle/15.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 30vmax;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-position: center;

}
.tampaback{
	background-image: url(../img/Tampa/2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 30vmax;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-position: center;
}
.versus{
	position: absolute;
	margin-left: 45%;
	margin-top:5vmax;
}
.versus2{
	position: absolute;
	margin-left: 48%;
	margin-top:64vmax;
	z-index: 2;
	display: none;
}
.versus2 img{
	width:3vmax;
}
.versus img{
	width:10vmax;
}
@media (max-width:576px){
	.versus{
		margin-top:23vmax;
	}
	.cityname{
		padding:1vmax;
	}
	.versus2{
		display: block;
	}
}
@media (max-width: 420px){
	.versus{
		margin-left: 40%;
	}
	.versus2{
		margin-left: 46%;
		display: block;
	}
}
.cityname{
	font-size:2.5vmax;
	text-align: center;
	background: rgba(34, 139, 34,0.9);
	border:0.5px solid rgba(0,0,0,0.5); 
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	color: white;
}
.oglav{
	text-align: center;
	font-size: 2vmax;
	padding: 2vmax;
	box-shadow: -2px -1px 2px rgba(0,0,0,0.15), 
    2px -1px 2px rgba(0,0,0,0.15);
    color: rgba(0,0,0,0.8);
}
.greenoglav{
	background: rgba(34, 139, 34,0.9);
	color:white;
}
.circlepopulation{
	border:0.5px solid white; 
	border-radius: 50%;
	text-align: center;
	font-size: 2.5vmax;
	margin-left: 25%;
	width: 50%;
	padding: 7vmax;
	margin-top: 5vmax;
	color:white;
}
.data{
	font-size: 2vmax;
	padding-left: 5vmax;
	color:rgba(0,0,0,0.8);
}
.content{
	box-shadow:-2px 1px 2px rgba(0,0,0,0.15), 
    2px 1px 2px rgba(0,0,0,0.15);
}
.contentgreen{
	background: rgba(34, 139, 34,0.9); 
}
#block3data1,#block3data2{
	margin-top: 5vmax;
	color:white;
}
#block1data1,#block1data2{
	padding:1vmax;
	padding-left: 5vmax;
}
.place{
	text-align: center;
	padding-bottom: 3vmax;
}
.place img{
	width:10vmax;
}
.temp{
	font-size: 1.3vmax;
}
